@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header css */
.customBg {
  background: linear-gradient(
    194.68deg,
    rgba(254, 93, 19, 0.1) 11.27%,
    rgba(221, 29, 29, 0.1) 90.77%,
    rgba(254, 93, 19, 0.1) 90.78%
  );
}

.customLinebg::after {
  background: linear-gradient(270deg, #dd380d 9.77%, #313131 50%);
  transform: translate(-50%, -50%);
}

.footerLine {
  background: linear-gradient(270deg, #dd380d 9.77%, #313131 50%);
}

.footerLinkBar {
  position: relative;
}
.footerLinkBar::after {
  position: absolute;
  right: -10px;
  content: "|";
  top: 0;
}

@media screen and (max-width: 400px) {
  .customFooterFlex {
    flex-direction: column;
  }
  .footerLinkBar::after {
    display: none;
  }
}
